/* sidebar */
.bg-menu-theme .menu-text {color: #06283d;}
.bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
    color: #06283d;
    background-color: #e0f7fc !important;
}
.bg-menu-theme .menu-inner > .menu-item.active:before {
    background: #06283d;
}

/* content */
.card-title {color: #06283d;}

.btn-outline-primary:hover {
    background-color: #06283d !important;
    border-color: #06283d !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(213 239 255 / 29%) !important;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
    background-color: #06283d;
}


/* ====== history page (calender in footer) ======== */
:is(.event-content,.event-popup) .socialLogo{
    width: 24px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calendar .event-content .socialLogo i{font-size: 15px;}
.event-popup{
    z-index: 999;
    background: #f7f7f7;
    border: 1px solid #dee2e6;
    width: 30%;
}
.event-popup .socialLogo{top:32px;left:38px;}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start
{
    background-color:#e0f7fc;border:0;
}
.fc-button-primary,.fc button .fc-icon{top: -4px !important;}

/* icons color and bg */
.facebookApp{color:#fff !important; background: #007bff;}
.instagramApp{color:#fff !important; background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);}
.twitterApp{color: #00acee !important; background-color: #fff;}
.youtubeApp{color: #ff0000 !important; background-color: #fff;}
