/* ==================== principles =========== */
/* card header */
.card-info:not(.card-outline)>.card-header {
    background-color: #79DAE8;
    border-color: #79DAE8;
}
.badge.bg-label-success{background-color: #e8fadf !important;color: #5fb332 !important;}
.badge.bg-label-warning {background-color: #fff2d6 !important;color: #ffab00 !important;}
.badge.bg-label-danger {background-color: #ffe0db !important;color: #ff3e1d !important;}
.badge.bg-label-primary {background-color: #e7e7ff !important;color: #696cff !important;}
.badge.bg-label-info {background-color: #d7f5fc !important;color: #03c3ec !important;}
.badge.bg-label-dark {background-color: #e5e5e5 !important;color: #636363 !important;}


/* table number */
.page-item.active .page-link {background-color: #79dae8;border-color: #79dae8;}

.dropdown-item.active, .dropdown-item:active {background-color: transparent;}

.bg-primary {background-color: #007bff !important;}
:is(.bg-info, .btn-info){background-color: #79DAE8 !important;border-color: #79DAE8 !important;}

/* icons color and bg */
.facebookApp{color:#fff !important; background: #007bff;}
.instagramApp{color:#fff !important; background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);}
.twitterApp{color: #00acee !important; background-color: #fff;}
.youtubeApp{color: #ff0000 !important; background-color: #fff;}

.facebookApp-border{border-color: #007bff !important}
.twitterApp-border{border-color: #00acee !important}
.youtubeApp-border{border-color: #ff0000 !important}
.instagramApp-border{ border-color: #dc2743 !important}

.socialAccounts .instagramApp{color:#dc2743 !important;}
.socialAccounts .facebookApp{color: #007bff !important;} 

/* ============= side bar ========= */
.main-sidebar:hover{overflow-y: auto;}
.main-sidebar::-webkit-scrollbar {width: 7px;}
.main-sidebar::-webkit-scrollbar-track {box-shadow: inset 0 0 5px #e5e5e5;border-radius: 10px;}
.main-sidebar::-webkit-scrollbar-thumb {background: #BEBEBE;border-radius: 10px;}

.main-sidebar .user-panel {
    border-bottom: 0px solid #dee2e6 !important; 
    border-top: 1px solid #dee2e6 !important;
}
[class*=sidebar-light-] .sidebar a {color: #06283d96;font-size: 18px}
.nav-treeview a{font-size: 16px !important;}

[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link {
    background-color: transparent;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    /* background-color: #79DAE8; */
    background-color: transparent;
    color: #06283D;
    box-shadow: 0 0 0 0 !important;
}
.main-sidebar .active_mandatory{color: #06283D !important;font-size: 20px !important;}

/* ==============pages================= */

.adminSocail .small-box p{font-size: 16px;}

.publishPostContainer .file{
    top: 0px;
    left: -74px;
    width: 32px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}
.publishPostContainer .file#videoFile {left: -38px;height: 23px;}
.publishPostContainer .file input[type='file']{opacity: 0;cursor: pointer;}
.publishPostContainer .postLink{cursor:pointer}
.publishPostContainer .previewSec img{width: 50px; margin: 10px 0 -20px;border-radius: 6px;}
.publishPostContainer .previewSec video{width:50px;height:50px;margin-bottom: -33px;}
.publishPostContainer .socialAccounts label{cursor: pointer;}
.publishPostContainer .socialAccounts input[type="checkbox"]:not(:checked) + label img {border-color: #ced7df !important;filter: grayscale(1);}
.publishPostContainer .socialAccounts input[type="checkbox"]:not(:checked) + label span{color: #646464 !important;filter: grayscale(1);}


.servicesPage .config span{font-weight: bold;font-size: 15px}
.servicesPage .config li{line-height: 1.8;}
.servicesPage .verificationMsg :is(.verify, .enable){display: none;border-width: 2px !important;}
.servicesPage .config .nav-link{color: #06283D;}
.servicesPage .config .active{border: 0;color: #fff;}
.servicesPage .config .active#nav-facebook-tab{background: #007bff;}
.servicesPage .config .active#nav-instagram-tab{background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);}
.servicesPage .config .active#nav-twitter-tab{background: #00acee;}
.servicesPage .config .active#nav-youtube-tab{background: #dc2743;}

@media (max-width:767px) {
    .servicesPage .verificationMsg{width: 100% !important;}
}

.postsPage #nav-tab{border-bottom: 0;}
.postsPage .nav-tabs .nav-link {
    border: 0;
    border-bottom: 2px solid #dfdfdf;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
    font-size: 18px;
    color: #06283D;
}
.postsPage .nav-tabs .nav-item.show .nav-link,
.postsPage .nav-tabs .nav-link.active {
    color: #6610f2;
    background-color: transparent;
    border-color: #6610f2;
}

.socialAccounts .user-info img{border: 2px solid #000;width: 70px;}
.socialAccounts .user-info p{font-weight: bold;font-size: 16px;}
.socialAccounts .user-info .info-box-icon{height: 120px}
.socialAccounts .user-info i{font-size: 20px;background: #fff;}
.socialAccounts #connectAccount{cursor: pointer;}
.socialAccounts #appAccount{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999999;
    background: #25232282;
    display: none;
    justify-content: center;
    align-items: center;
}
.socialAccounts #appAccount .box{width: 450px;box-shadow: 0 0 1px #000;}
.socialAccounts #appAccount .appIcon{font-size: 27px;background: #fff;padding: 10px;border-radius: 38%;}
.socialAccounts #userData{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999999;
    background: #25232282;
    display: none;
    justify-content: center;
    align-items: center;
}
.socialAccounts #userData img{width: 50px !important;}
.socialAccounts #userData .icon{left: 30px;bottom: 0; background:#fff}
.socialAccounts :is(#appAccount, #userData) .cancel{color:#6c757d !important;font-weight: bold;}

.terms-policy p{line-height: 2}
.terms-policy li{line-height: 1.8}

.allUsers .card .dt-buttons button{background-color: #79dae8;border-color: #79dae8;}
.allUsers .card .dt-buttons button:not(:disabled):not(.disabled):active{
    background-color: #06283D;
    border-color: #06283D;
}

/* ====== history page (calender in footer) ======== */
:is(.event-content,.event-popup) .socialLogo{
    width: 24px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calendar .event-content .socialLogo i{font-size: 15px;}
.event-popup{
    z-index: 999;
    background: #f7f7f7;
    border: 1px solid #dee2e6;
    width: 30%;
}
.event-popup .socialLogo{top:32px;left:38px;}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start{background-color:#ebebeb}

@media (max-width:767px) {
    #calendar .event-content img{display: none;}
    .event-popup {width: 50%;}
    .event-popup :is(.postData, .postLink, .accountName){font-size: 14px;}
    .event-popup .accountInfo img{width: 40px !important;}
    .event-popup .socialLogo {top: 22px;left: 28px;width: 20px;height: 18px;}
    .event-popup .socialLogo i{font-size: 12px;}
}

