/* sidebar */
.bg-menu-theme .menu-text {color: #06283d;}
.bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
    color: #06283d;
    background-color: #e0f7fc !important;
}
.bg-menu-theme .menu-inner > .menu-item.active:before {
    background: #06283d;
}

/* content */
.card-title {color: #06283d;}

.btn-outline-primary:hover {
    background-color: #06283d !important;
    border-color: #06283d !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(213 239 255 / 29%) !important;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
    background-color: #06283d;
}

.form-check-input:checked, 
.form-check-input[type=checkbox]:indeterminate {
    background-color: #03c3ec !important;
    border-color: #03c3ec !important;
    box-shadow: 0 2px 4px 0 #03c3ec4d !important;
}

.page-item.active .page-link, .page-item.active .page-link:hover, 
.page-item.active .page-link:focus, 
.pagination li.active > a:not(.page-link), 
.pagination li.active > a:not(.page-link):hover, 
.pagination li.active > a:not(.page-link):focus {
    border-color: #03c3ec !important;
    background-color: #03c3ec !important;
}

/* ====== history page (calender in footer) ======== */
:is(.event-content,.event-popup) .socialLogo{
    width: 24px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calendar .event-content .socialLogo i{font-size: 15px;}
.event-popup{
    z-index: 999;
    background: #f7f7f7;
    border: 1px solid #dee2e6;
    width: 30%;
}
.event-popup .socialLogo{top:32px;left:32px;}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start
{
    background-color:#e0f7fc;border:0;
}
.fc-button-primary,.fc button .fc-icon{top: -4px !important;}

/* icons color and bg */
.facebookApp i{color:#fff !important; background: #007bff !important;}
.instagramApp i{color:#fff !important; background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);}
.twitterApp i{color: #00acee !important; background-color: #fff;}
.youtubeApp i{color: #ff0000 !important; background-color: #fff;}

.facebookApp-border{border-color: #007bff !important}
.twitterApp-border{border-color: #00acee !important}
.youtubeApp-border{border-color: #ff0000 !important}
.instagramApp-border{ border-color: #dc2743 !important}


.socialAccounts .instagramApp span{color:#dc2743 !important;}
.socialAccounts .facebookApp span{color: #007bff !important;} 

.socialAccounts .user-info img{border: 2px solid #000;width: 150px;}
.socialAccounts .user-info .imgAppProfile{width: 70px !important;}

.socialAccounts .user-info video{border: 2px solid #000;}

.socialAccounts input[type="checkbox"]:not(:checked) + label {filter: grayscale(100%);}
.socialAccounts input[type="checkbox"]:not(:checked) + label img {border-color: #0000004d;}
.socialAccounts input[type="checkbox"]:not(:checked) + label video {border-color: #0000004d;filter: contrast(0.5);}

.socialAccounts .user-info p{font-weight: bold;font-size: 16px;}
.socialAccounts .user-info .info-box-icon{height: 120px}
.socialAccounts .user-info i{font-size: 20px;background: #fff;}
.socialAccounts #connectAccount{cursor: pointer;}
.socialAccounts #appAccount{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999999;
    background: #25232282;
    display: none;
    justify-content: center;
    align-items: center;
}
.socialAccounts #appAccount .box{width: 450px;box-shadow: 0 0 1px #000;}
.socialAccounts #appAccount .appIcon{font-size: 27px;background: #fff;padding: 10px;border-radius: 38%;}
.socialAccounts #userData{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999999;
    background: #25232282;
    display: none;
    justify-content: center;
    align-items: center;
}
.socialAccounts #userData img{width: 50px !important;}
.socialAccounts #userData .icon{left: 30px;bottom: 0; background:#fff}
.socialAccounts :is(#appAccount, #userData) .cancel{color:#6c757d !important;font-weight: bold;}

.servicesPage .config span{font-weight: bold;font-size: 15px}
.servicesPage .config li{line-height: 1.8;}
.servicesPage .verificationMsg :is(.verify, .enable){display: none;border-width: 2px !important;}
.servicesPage .config .nav-link{color: #06283D;}
.servicesPage .config .active{border: 0;color: #fff !important;}
.servicesPage .config .active#nav-facebook-tab{background: #007bff;}
.servicesPage .config .active#nav-instagram-tab{background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);}
.servicesPage .config .active#nav-twitter-tab{background: #00acee;}
.servicesPage .config .active#nav-youtube-tab{background: #dc2743;}

@media (max-width:767px) {
    .servicesPage .verificationMsg{width: 100% !important;}
}

.popover{width: 300px !important;}
.popover-body{background: aliceblue;padding: 0;}
.popover-calender .accountInfo{font-size: 14px;}
.popover-calender .accountInfo .time{font-size: 12px;}
.popover-calender .socialLogo{bottom: -5px;left: 22px;}
.popover-calender .socialLogo i{padding: 2px;font-size: 14px;}
.popover-calender .popoverFooter{background-color: aliceblue !important;}


.filepond--root .filepond--credits {
    display: none !important;
}